In [1]:
import pandas as pd
import os

In [2]:
import requests

In [3]:
url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-06.parquet'
response = requests.get(url)
with open(f'yellow_tripdata_2023-06.parquet', "wb") as file:
    file.write(response.content)

In [3]:
df = pd.read_parquet('yellow_tripdata_2023-06.parquet')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-06-01 00:08:48,2023-06-01 00:29:41,1.0,3.40,1.0,N,140,238,1,21.90,3.50,0.5,6.70,0.00,1.0,33.60,2.5,0.00
1,1,2023-06-01 00:15:04,2023-06-01 00:25:18,0.0,3.40,1.0,N,50,151,1,15.60,3.50,0.5,3.00,0.00,1.0,23.60,2.5,0.00
2,1,2023-06-01 00:48:24,2023-06-01 01:07:07,1.0,10.20,1.0,N,138,97,1,40.80,7.75,0.5,10.00,0.00,1.0,60.05,0.0,1.75
3,2,2023-06-01 00:54:03,2023-06-01 01:17:29,3.0,9.83,1.0,N,100,244,1,39.40,1.00,0.5,8.88,0.00,1.0,53.28,2.5,0.00
4,2,2023-06-01 00:18:44,2023-06-01 00:27:18,1.0,1.17,1.0,N,137,234,1,9.30,1.00,0.5,0.72,0.00,1.0,15.02,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307229,2,2023-06-30 23:30:21,2023-07-01 00:00:46,NaN,9.20,NaN,None,42,148,0,38.53,0.00,0.5,8.51,0.00,1.0,51.04,NaN,NaN
3307230,1,2023-06-30 23:34:22,2023-07-01 00:32:59,NaN,20.20,NaN,None,132,74,0,70.00,1.75,0.5,11.97,6.55,1.0,91.77,NaN,NaN
3307231,2,2023-06-30 23:45:00,2023-07-01 00:10:00,NaN,6.16,NaN,None,256,140,0,28.03,0.00,0.5,6.41,0.00,1.0,38.44,NaN,NaN
3307232,2,2023-06-30 23:13:38,2023-06-30 23:51:19,NaN,11.65,NaN,None,91,246,0,45.74,0.00,0.5,0.00,6.55,1.0,56.29,NaN,NaN
3307233,2,2023-06-30 23:18:00,2023-06-30 23:31:00,NaN,1.40,NaN,None,164,230,0,14.35,0.00,0.5,0.00,0.00,1.0,18.35,NaN,NaN

In [5]:
td = df.values.tolist()
td[0]

[1,
 Timestamp('2023-06-01 00:08:48'),
 Timestamp('2023-06-01 00:29:41'),
 1.0,
 3.4,
 1.0,
 'N',
 140,
 238,
 1,
 21.9,
 3.5,
 0.5,
 6.7,
 0.0,
 1.0,
 33.6,
 2.5,
 0.0]

In [5]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
dtype: object

In [11]:
df['extra'].unique()

array([ 3.500e+00,  7.750e+00,  1.000e+00,  4.250e+00,  6.000e+00,
        0.000e+00,  2.750e+00, -1.000e+00,  1.025e+01, -6.000e+00,
        1.750e+00,  2.500e+00,  8.500e+00,  3.200e+00,  5.000e+00,
        7.500e+00,  6.750e+00,  9.250e+00, -5.000e+00,  1.175e+01,
        1.000e+01, -2.500e+00, -7.500e+00,  5.750e+00,  3.250e+00,
        5.250e+00,  1.500e+00,  1.275e+01,  1.100e-01,  1.100e+01,
        7.500e-01,  1.425e+01,  5.000e-01,  2.000e-02, -4.250e+00,
        4.500e+00,  9.500e+00,  1.125e+01,  1.300e+01,  2.450e+00,
       -3.500e+00,  1.250e+01,  6.000e-02,  4.000e-02,  7.450e+00,
        2.500e-01,  8.200e+00,  3.000e-02, -7.500e-01,  1.000e-02,
        2.800e+00,  7.000e-01,  2.000e+00,  2.250e+00,  5.000e-02,
        2.150e+00,  2.700e+00, -2.500e-01,  3.800e+00])

In [12]:
dir_save = '/home/bao/airflow/dags'
for file in os.listdir(dir_save):
    if file.endswith('.parquet'):
        df = pd.read_parquet(os.path.join(dir_save, file))
        df = pd.DataFrame(df)
        if 'store_and_fwd_flag' in df.columns:
            df.drop(columns=['store_and_fwd_flag'], inplace=True)
        df.rename(columns={
                'tpep_pickup_datetime': 'pickup_datetime',
                'tpep_dropoff_datetime': 'dropoff_datetime'},
            inplace=True)

        df.columns = map(str.lower, df.columns)
        df = df.dropna()
        df = df.reindex(sorted(df.columns), axis=1)

        ints = ['dolocationid', 'vendorid', 'payment_type', 'passenger_count', 'pulocationid', 'ratecodeid']
        for int_dtype in ints:
            df[int_dtype] = df[int_dtype].astype('int32')

        df.to_parquet(os.path.join(dir_save, file))